@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1>Cruises of Antarctica</h1>
        <p class="lead">Antarctica Cruises departure from Australia Hobart to the end of the world, where Adventure Begins.</p>
        <img srcset="https://localhost:44392/Uploads/4dede6ea-3857-476a-9554-4fb2d47ced9c.jpg 320w,
             https://localhost:44392/Uploads/4dede6ea-3857-476a-9554-4fb2d47ced9c.jpg 480w,
             https://localhost:44392/Uploads/4dede6ea-3857-476a-9554-4fb2d47ced9c.jpg 800w"
             sizes="(max-width: 640px) 300px,
            (max-width: 1280px) 480px,
            800px"
             src="https://localhost:44392/Uploads/4dede6ea-3857-476a-9554-4fb2d47ced9c.jpg" alt="Elva dressed as a fairy">
        <p><a href="https://localhost:44392/Home/About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

<div class="row">
    <div class="col-md-4 offset-md-4">
        <h2>Location</h2>
        <p>
            Hobart in Australia host Antarctica cruise vessels heading south for the summer.
            Antarctica is an environment of exquisite isolation, rich wildlife, stimulating history, and majestic landscapes.
        </p>
        <p><a class="btn btn-default" href="https://localhost:44392/Locations">Find the location &raquo;</a></p>
    </div>
    <div class="col-md-4 offset-md-4">
        <h2>Find  a  Cruise</h2>
        <p>
            A round trip cruise to this  part of the world will take about 21 days all up, including 7 days crossing to Antarctica, stopping frequently to visit remote islands such as
            Macquarie, Snares, Auckland and Campbell.
        </p>
        <p><a class="btn btn-default" href="https://localhost:44392/Ships">Ship Status &raquo;</a></p>
    </div>
    <div class="col-md-4 offset-md-4">
        <h2>Cotact Us</h2>
        <p>Our Expedition team members are all Polar-passionate and are seasoned veterans with rich backgrounds in marine biology, history, geology and more.</p>
        <p><a class="btn btn-default" href="https://localhost:44392/Home/Contact">Cotact Us &raquo;</a></p>
    </div>
</div>